filter {
  if [message] =~ ".*ansible-demo-elk.*" {
    drop { }
  }

  if [message] =~ ".*nginx_production.*" {
    grok {
      match => {
        "message" => '.* %{GREEDYDATA:orignal_host} .*nginx_production %{COMBINEDAPACHELOG}'
      }
    }

    mutate {
      add_field => [ "log_type", "nginx_access" ]
      add_field => [ "orignal_host", "%{orignal_host}" ]
    }

    geoip {
      source => "clientip"
      target => "geoip"
      add_field => [ "[geoip_coordinates]", "%{[geoip][longitude]}" ]
      add_field => [ "[geoip_coordinates]", "%{[geoip][latitude]}"  ]
    }
    mutate {
      replace => {"host" => "%{orignal_host}"}
      convert => [ "[geoip_coordinates]", "float"]
    }

    useragent {
      source => "agent"
      target => "useragent"
    }
  }

  if [message] =~ ".*website_production.*" {
    grok {
      match => {
        "message" => '.* %{GREEDYDATA:orignal_host} .*website_production .*"method":"%{DATA:method}".*"path":"%{DATA:path}".*"controller":"%{DATA:controller}".*"action":"%{DATA:action}".*"status":%{DATA:status},.*"duration":%{DATA:duration},.*"view":%{DATA:view}.*"ip":"%{DATA:ip}".*"session_id":%{DATA:session_id},.*"user_id":%{DATA:user_id},.*"organization_id":%{DATA:organization_id}}'
      }
    }

    mutate {
      add_field => [ "log_type", "rails" ]
      add_field => [ "orignal_host", "%{orignal_host}" ]
      gsub => ["user_id", "\"", ""]
      gsub => ["organization_id", "\"", ""]
    }
  }

}
