filter {
  if [message] =~ ".*ansible-demo-elk.*" {
    drop { }
  }

  if [message] =~ ".*nginx_production.*" {
    grok {
      match => {
        "message" => '%{COMBINEDAPACHELOG}'
      }
    }

    mutate {
      add_field => [ "log_type", "nginx" ]
    }

    geoip {
      source => "clientip"
      target => "geoip"
      add_field => [ "[geoip_coordinates]", "%{[geoip][longitude]}" ]
      add_field => [ "[geoip_coordinates]", "%{[geoip][latitude]}"  ]
    }
    mutate {
      convert => [ "[geoip_coordinates]", "float"]
    }

    useragent {
      source => "agent"
      target => "useragent"
    }
  }

  if [message] =~ ".*website_production.*" {
    grok {
      match => {
        "message" => '.*website_production %{GREEDYDATA:json_string}'
      }
    }

    json {
        source => "json_string"
        target => "parsed_json"
    }

    json{
        source => "%{[parsed_json][message]}"
        target => "parsed_json_message"
    }

    mutate {
      add_field => [ "log_type", "rails" ]
      add_field => [ "json_string", "parsed_json" ]
      remove_field=>["json_string"]
    }
  }

}
